#about {
    background-color: rgba(19, 17, 17, 0.938);
    width: 50%;
    height: 100%;
    line-height: 20px;
    text-align: center;
    color: white;
    margin-top: 12%;
    margin-left: 15%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: solid thin rgb(197, 105, 105);
}

.oLink{
    justify-content: space-evenly;
    font-family: 'Quicksand', sans-serif;

    
}

.oLink:hover {
    color: rgb(245, 208, 208);
    text-decoration: underline;
}


#text {
    color: rgb(197, 120, 120);
    font-family: 'Quicksand', sans-serif;

}

@media only screen and (min-width: 1420px) {
  #about {
    height: 100%;
    width: 50%;
}

  #text {
      font-size: 25px;
      line-height: 30px;
      padding: 15px;
  }

  #abouth3 {
      font-size: 40px;
  }

  .oLink {
      font-size: 20px;
  }

}

@media only screen and (max-width: 1420px) {
 #about {
    height: 100%;
    width: 50%;
    margin-top: 10%;
}

  #text {
      font-size: 18px;
      line-height: 30px;
      padding: 10px;
     
  }

  #abouth3 {
      font-size: 30px;
      margin-bottom: 0;
  }

  .oLink {
      font-size: 20px;
    
  }

 

}

@media only screen and (max-width: 800px) {
    #text {
      font-size: 18px;
  }

  #abouth3 {
      font-size: 30px;
  }
}


@media only screen and (max-width: 580px) {
  #about {
      margin-top: 35%;
      margin-left: 10%;
      width: 70%;
  }
    
    #text {
      font-size: 15px;
  }

  #abouth3 {
      font-size: 20px;
  }

  .oLink {
      font-size: 15px;
  }
}