#contact {
    background-color: rgba(19, 17, 17, 0.938);
    width: 40%;
    height: 100%;
    text-align: center;
    color: rgb(38, 35, 223);
    margin-top: 15%;
    margin-left: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: solid thin rgb(197, 105, 105);
    
}

.oLink {
    color: rgb(206, 44, 44);
    line-height: 25px;
}

#contactPhoto {
    width: 40%;
    height: 40%;
    border-radius: 50%;
    margin-right: 30%;
    margin-left: 30%;
    
}

@media only screen and (min-width: 1420px) {
  #contact {
    font-size: 28px;
    height: 100%;
    width: 50%;
    margin-left: 25%;
    
    
  }
 #contactp {
     font-size: 22px;
 }

}

@media only screen and (max-width: 1420px) {
  #contact {
    font-size: 25px;
    height: 100%;
    width: 50%;
    margin-left: 25%;
    margin-top: 20%;
    
    
  }
 #contactp {
     font-size: 20px;
 }
 

}

@media only screen and (max-width: 580px) {

h3 {
    font-size: 15px;
}  
#contact {
    margin-top: 40%;
    width: 70%;
    margin-left: 10%;
    

} 
#contactp {
    text-align: center;
    font-size: 15px;
}
    
  
}
