#contact {
    background-color: rgba(19, 17, 17, 0.938);
    width: 50%;
    height: 300px;
    text-align: center;
    color: white;
    margin-top: 15%;
    margin-left: 25%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: solid thin rgb(197, 105, 105);

}

.oLink {
    color: white;
    line-height: 25px;
}