ul {
    color: black;
    display: flex;
}

li {
    color: black;
    list-style-type: none;

}

li:hover {
    text-decoration: underline;

}

#nav {
    position: fixed;
    top: 0;
    right: 0;
    padding: 8px;
}

a {
    color: black;
    text-decoration: none;
}

