ul {
    color: black;
    display: flex;
}

.navLink{
    color: black;
    list-style-type: none;
    font-family: 'Quicksand', sans-serif;


}

.navLink:hover {
    text-decoration: underline;
  

}

#nav {
    position: fixed;
    top: 0;
    right: 0;
    padding: 8px;
}

a {
    color: black;
    text-decoration: none;
}

