#gameTitle {
    font-size: 30px;
    color: rgb(226, 97, 97);
    margin-top: 95px;
    text-align: center;
    padding: 10px;
    margin-bottom: 0;
}

h6 {
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 0;
}

p {
    margin-top: 0;
    font-size: 14px;
    color: rgb(170, 168, 56);
}

.olink {
    color: rgb(223, 75, 75);
}

.olink:hover {
    color: rgb(15, 32, 179);
    text-decoration: underline;
}

#pro2 {
    background-color: rgba(19, 16, 19, 0.945);
    color: rgb(197, 52, 52);
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 50%;
    height: 100%;
    text-align: center;
    margin-left: 25%;
    border-radius: 5px;
    border: solid thin rgb(179, 177, 62);
    position: relative;
}



.Img {
    height: 60%;
    width: 60%;
}


@media only screen and (min-width: 1420px) {
  .gameP {
      font-size: 18px;
 
  }

  .gameh6 {
      font-size: 22px;
  }

  #click {
      font-size: 18px;
  }

  
 

}

@media only screen and (max-width: 1000px) {

#toggle {
    font-size: 15px;
    top: 30%;
 }

.toggleBack {
    color:white;
    font-size: 15px;
    position: absolute;
    left: 2%;
    top: 30%;
}

.gameh6 {
    font-size: 20px;
    margin-top:20px;
}


 
#pro2 {
    width: 70%;
    margin-left: 15%;
    margin-top: 20%;
}

.olink {
    display: flex;
    flex-direction: column;
}
}

@media only screen and (max-width: 580px) {

  #pro2 {
      width: 85%;
      margin-left: 5%;
      margin-top: 35%;
  }    
    
  .gameh6 {
        font-size: 15px;
    }
}