#techCard{
  color: rgb(170, 170, 44);
  border: solid thin rgb(20, 20, 173);
  background-color: black;
  border-radius: 10px;
  padding: 40px;
  text-align: center;
}

#techList {
    color: rgb(238, 106, 106);
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
}


