#footer {
    position:fixed;
    bottom: 0;
    width:100%;
    background-image: linear-gradient(rgb(214, 212, 212),rgb(248, 220, 220), rgb(248, 220, 220), rgb(248, 220, 220));
    border: 1px solid rgb(182, 181, 181);
    text-align: center;
 
}

#footer2 {
    margin-top: 2px;
    color: black;
}